body {
    margin: 0 auto;
    color: white;
    font-family: 'Work Sans', sans-serif;
    overflow-x: hidden;
    background: #dedede;
}

/*----- Universal CSS For Nav & Access Button ---------*/

.container-fluid {
    width: 100%;
    padding: 0 !important;
    letter-spacing: .5px;
}

#access-jump {
    position: fixed;
    right: .5%;
    top: 1%;
    z-index: 5;
}

#access-jump #initial-image {
    width: 6em;
    border-radius: 10%;
    box-shadow: 0px 1px 1px #212121;
}

.jump-arrow {
	float: right;
	right: .5%;
	bottom: 2.5%;
	position: fixed;
	z-index: 10;
}

.jump-arrow img {
	width: 3.5em;
}

/*Header elements*/

#nav-holder {
   background: #1f3473;
    background: url('nav-background.png');
}

.navbar {
    width: 75em;
    margin: auto;
    background: inherit;
    border: none;
}

.navbar-nav {
  margin-left: -1.2em;
}

.navbar li a {
    color: white !important;
    font-family: 'Playfair Display', serif;
    font-size: 1.1em;
}

.navbar li a:hover {
    background: #494a49 !important;
    text-shadow: 0px .25px .25px #dedede;
}

.navbar .dropdown-menu {
    background: url('nav-background.png');
    height: auto;
}

.navbar .dropdown-menu li a {
    border: none;
    padding: 10px;
    margin-top: -5px;
    margin-bottom: -5px;
}

.nav > li.dropdown.open > a:focus .nav > li.dropdown.active.open > a:focus {
    background: #494a49;
    border: none;
}

.navbar .nav .active a {
    background: #494a49;
}

.nav > li.active-open > ul.dropdown-menu {
    background-color: #1f3473 !important;
}

#head-container {
    background: url('main-background.png');
}

header {
    width: 100%;
    margin: auto;
}

.head-wrap {
    width: 75em;
    margin: auto;
}

#header-holder {
	float: left;
    clear: both;
}

#header-holder img {
    width: 25em;
    max-height: 12em;
    border-radius: 5px;
    margin-bottom: 1em;
    margin-top: 1em;
}

#mottoNum {
	width: 47.5em;
    float: right;
    margin-top: 1em;
    font-family: 'Playfair Display', serif;
}

#mottoNum a {
    color: white;
    position: relative;
    margin-left: 29em;
    bottom: 2em;
}

#mottoNum a:hover {
    text-decoration: none;
}

#mottoNum img {
    width: 5em;
}

#motto, #phoneNumber {
    display: inline-block;
    font-weight: bold;
}

#motto {
    margin-right: 2.5em;
    background: url('nav-background.png');
    padding: 20px;
    border-radius: 50%;
    font-size: 2em;
    border: 2px solid white;
}

#number {
    float: right;
    margin-bottom: -2.5em;
}

#number #extra-num-info {
    position: relative;
    left: 3.9em;
    bottom: .75em;
    font-size: 1.5em;
}

#phoneNumber {
    position: relative;
    font-size: 2em;
}



/*--------Start of Nav CSS ----------*/




/*----------End of Nav CSS ---------*/

/*Image Carousel*/
.owl-carousel {
    position: relative;
    z-index: -1;
    margin-top: 0em;
}

/*.owl-carousel .slideInfo {
    position: relative;
    text-align: center;
    top: -42em;
    color: #dedede;
    width: 35em;
    margin: auto;
    margin-bottom: -15em;
}

.owl-carousel .darkerSlideText {
    color: #212121;
    font-size: 3em;
    text-shadow: 0px 2px 2px #212121;
    margin-bottom: 1em;
    font-weight: bold;
}

.owl-carousel .slideInfo p {
    color: #212121;
    font-size: 1.5em;
    margin-bottom: 1.5em;
}

.owl-carousel .slideInfo .slideJump {
    text-decoration: none;
    background-color: #494a49;
    padding: 12.5px;
    width: 10em;
    margin: auto;
    position: relative;
    top: 1.5em;
    color: white;
    font-weight: bold;
    box-shadow: 0px 3px 3px #212121;
    border-radius: 2px;
    font-size: 16px;
}

.owl-carousel .slideInfo a:hover {
    text-decoration: none;
}*/

div .owl-pagination {
    display: none;
}



#owl-example img {
    height: 47em;
    max-height: 50em;
    width: 100%;
    position: relative;
}

#owl-example .link-arrow, .link-arrow, #home-testimonials .link-arrow {
    width: 25px;
    height: 30px;
    padding-left: 10px;
}

/*------End of Carousel CSS ----------*/

/*------Center Info Boxes On Home Page ---------*/

.opaqueBox {
    height: 11em;
    position: absolute;
    background-color: rgba(186, 185, 185, 0.42);
    width: 100%;
    margin-top: -11.75em;
    border-top: 1px solid white;
}

#infoBlocks {
    margin: 0 auto;
    margin-top: -18em;
    text-align: center;
    position: relative;
    color: white;
    width: 75em;
    z-index: 5;
    right: .15em;
}

#infoBlocks .infoIcon {
    width: 70px;
    position: relative;
    padding: 10px;
    margin: auto;
    margin-bottom: -20px;
}

#infoBlocks #firstPair, #infoBlocks #secondPair, #infoBlocks #firstPair div, #infoBlocks #secondPair div {
    display: inline-block;
}

#infoBlocks #firstPair div, #infoBlocks #secondPair div {
    z-index: 5;
    width: 18.75em;
    border-right: 1.5px solid #212121;
    position: relative;
    margin-right: -5.5px;
    background-image: url('blueprint.png');
    height: 21em;
    right: 0.01em;
}

#infoBlocks h4 {
    margin-bottom: 1.5em;
    margin-top: 2em;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    font-size: 1.4em;
}

#infoBlocks .infoText {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 2em;
    font-size: .85em;
}

#infoBlocks .infoJump, #infoBlocks #insuranceLink {
    background-color: #494a49;
    margin: auto;
    margin-top: 1.5em !important;
    padding: 10px;
    color: white;
    font-weight: bold;
    box-shadow: 0px 3px 3px #212121;
    border-radius: 2px;
    font-size: 16px;
}

#infoBlocks #insuranceLink {
    background-color: white;
    color: #1f3473;
}

#infoBlocks a:hover {
    text-decoration: none;
}

/*---------End of Info Blocks CSS For Home Page ---------*/

.home-body {
    width: 75em;
    color: white;
    background: url('main-background.png');
    box-shadow: 0px 0px 15px #212121;
}

#center-header {
    width: 75em;
    margin: auto;
    padding-left: 2.5em;
}

#center-header h3 {
    font-weight: bold;
    font-size: 2.5em;
    font-family: 'Playfair Display', serif;
}

.center-container {
    width: 75em;
    margin: auto;
}

#paragraph-holder {
    text-align: left;
    font-size: 1em;
    width: 44em;
    float: left;
    position: relative;
    padding-left: 2.5em;
    margin-bottom: 1em;
}

#left-column {
    float: left;
    margin-top: 1em;
    width: 20.5em;
    position: relative;
}

#right-column {
    float: right;
    width: 20.5em;
    margin-top: 1em;
    padding-right: .5em;
    position: relative;
    left: 1.5em;
}

#home-testimonials {
    width: 21em;
    float: right;
    position: relative;
    margin-top: 1.7em;
    margin-right: 6em;
}

#home-testimonials #body-thumbnail {
    width: 25em;
    max-height: 13em;
    margin-bottom: 2.75em;
    border: 5px groove #dedede;
}

#home-testimonials p {
    width: 21.5em;
    font-size: 1em;
}

#home-testimonials p, #home-testimonials span {
    font-weight: bold;
}

#home-testimonials span {
    position: relative;
    top: 1.5em;
    padding: 13px;
    background-color: #1f3473;
    color: white;
    font-size: 1.2em;
    margin: auto;
}

/*-------Universal Body Text Positioning -------------*/

#body-text {
    width: 42em;
    font-size: 1.1em;
    position: relative;
}

#body-text p {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

/*------- Banner Image CSS For All Pages But The Home Page ----------*/

#banner-image {
    height: 20em;
    position: relative;
    width: 150em;
    background: #1f3473; 
}

#banner-image #left-image{
    height: 20em;
    position: relative;
    width: 67.5em;
    float: left;
}

#banner-image #right-image {
    height: 20em;
    position: relative;
    width: 82.5em;
    float: right;
}

/*----Universal CSS For Contact Form ----------*/

#name-boxes:second-child {
    float: right;
}

#contact-form {
    background-color: #1f3473;
    color: white;
    position: relative;
}

#contact-form table {
    width: 15em !important;
    margin: auto;
    text-align: center;
}

#contact-form h2 {
    margin: auto;
    text-align: center;
    position: relative;
    top: .5em;
    margin-bottom: 1em;
    margin-top: .35em;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}

#contact-form img {
    width: 50px;
    margin-left: 11em;
    position: relative;
    top: 10px;
}

#contact-form th {
    font-size: 15px; 
    padding-bottom: 3px;
}

#contact-form .input-spacer {
    padding-top: .75em;
}

#contact-form #name-row {
    position: relative;
    margin: auto;
    text-align: center;
}

#contact-form p {
    font-size: 11px;
    width: 2.5em;
}

#contact-form #required {
    width: 20em;
    margin: auto;
    margin-bottom: 1.5em;
}

#contact-form #first-name {
    position: relative;
    float: left;
}

#contact-form #last-name {
    position: relative;
    float: left;
    margin-left: 5px;
}

input {
    color: black;
}

/*-----Universal CSS For Footer ----------*/

footer {
    margin: auto;
    text-align: left;
    width: 100%;
    color: white;
    background: url('main-background.png');
    border-top: 3px ridge #1f3473;
    height: 23em;
}

#footer-wrapper {
    width: 75em;
    margin: auto;
    color: white;
}

#left-footer-info {
	width: 42em;
}

#footer-number {
    font-size: 1.75em;
    font-weight: bold;
    border-right: 0px;
    position: relative;
    top: .5em;
}

footer #footer-nav {
    margin-bottom: 1.5em;
    margin-top: 1.75em;
    
}

footer span {
    font-size: .9em;
    border-right: 1px solid white;
}

#social-media {
    border-right: 0px;
    margin-left: 2.5em;
    position: relative;
    top: 7px;
}

#social-media img{
    width: 8em;
}

footer #footer-nav .non-home {
    padding-left: 1em;
}

footer span a {
    color: white;
    text-decoration: underline;
    padding-right: 1em;
}

footer span a:hover {
    color: #1f3473;
    font-weight: bold;
}

footer #footer-nav span:last-child {
    border-right: 0 !important;
}

footer #specialties-footer p {
    line-height: 1.5em;
    padding-bottom: 1.5em;
}

footer #copyright {
    margin-bottom: 1.5em;
}

footer #footer-logo {
    float: right;
    position: relative;
    top: 2em;
	z-index: 3;
}

footer #footer-logo img {
    width: 30em;
    border-radius: 5px;
    position: relative;
}

.footer-active {
    color: #1f3473;
    font-weight: bold;
}

.footer-active:hover {
    color: #1f3473;
}

/*-----About Us CSS ---------*/


#right-body-content {
    float: right;
    width: 27em;
}

#content-title {
   background: url('main-background.png');
   font-family: 'Playfair Display', serif;
   padding-top: 5px;
   padding-bottom: 5px;
   padding-right: 20px;
   padding-left: 20px;
   font-size: 2.5em;
   position: relative;
   font-weight: bold;
   color: white;
   text-shadow: 0px .5px .5px #dedede;
    bottom: 1.5em;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#about-footer {
    margin-top: 10em;
}

/*---------Our Staff CSS --------*/

.staff-body {
    box-shadow: 0px 10px 10px #212121;
	width: 75em;
   margin: auto;
   margin-top: 9em;
   position: relative;
  height: auto;
}

#title-div {
    width: 75em;
    margin: auto;
}

.row {
    width: auto;
    margin: auto;
    text-align: center;
    color: white;
}

#top-row {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.col-xs-6 {
    position: relative;
    margin: auto;
}

.col-xs-6 img {
    margin-top: 1em;
    border-radius: 100%;
	box-shadow: 0px 5px 5px #212121;
}

.employee-info {
    margin-bottom: 2.5em;
}

#our-staff-footer {
    margin-top: 1em;
}

/*--------------Privacy CSS ------------*/

.section-title {
   font-family: 'Playfair Display', serif;
    font-weight: bold;
    text-decoration: underline;
}



/*--------- Media CSS -----------*/

@media (min-width: 200px) and (max-width: 1095px) {
	.staff-body {
		width: 100% !important;
	}
	
	.row {
		width: 100%;
	}
	
	#main-container {
		width: 100%;
	}
}

