body {
    margin: 0 auto;
    color: #1f3473;
    font-family: 'Lato', sans-serif;
}

.container-fluid {
    width: 100%;
    padding: 0 !important;
}
/*Header elements*/
header {
    width: 100%;
    margin-top: 1.5em;
    position: relative;
}
#main-container {
    width: 75em;
    margin: auto;
}

#header-holder img {
    width: 24em;
    border-radius: 5px;
    position: relative;
    float: left;
}

#mottoNum {
    width: 80%;
    float: right;
    position: relative;
    top: 15px;
}

#motto, #phoneNumber {
    display: inline-block;
    position: relative;
    font-size: 20px;
}

#motto {
    position: relative;
    left: 9.5em;
    top: -7.5em;
}

#phoneNumber {
    float: right;
    top: -7.5em;
}

#navnav {
    position: relative;
    float: right;
    clear: both;
    top: -7.5em;
}

#navnav ul li a {
    
    background-color: #1f3473;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-right: 1px solid #dedede;
    font-size: 15.5px;
}

#navnav ul li a:hover {
    background-color: #494a49;
    transition-duration: .25s, .25s;
}

#navnav ul {
    padding: 0;
    margin: 0;
}

#navnav ul ul {
    position: absolute;
    display: none;
    width: auto;
}

#navnav ul li ul li {
    width: 11em;
    margin-left: 0;
    margin-top: 16px;
    z-index: 20;
    padding: 0;
}

a#staffButton {
   padding-right: 57px !important;
}

#navnav ul li {
    display: inline-block;
    position: relative;
    margin-left: -4px;
    border-right: 1px solid white;
}

#navnav ul li:second-child {
    border-right: 1px solid white;
}

#navnav li:hover ul {
    display: block;
}

#navnav ul li a:hover {
    text-decoration: none;
}

#navnav ul li:last-child {
    border-right: 0px;
}

#navnav .active a {
    background-color: #494a49;
}
/*Image Carousel*/
.owl-carousel {
    position: relative;
    top: -10em;
}

.owl-carousel .slideInfo {
    position: relative;
    text-align: center;
    top: -42em;
    color: #dedede;
    width: 35em;
    margin: auto;
    margin-bottom: -15em;
}

.owl-carousel .darkerSlideText {
    color: #212121;
    font-size: 3em;
    text-shadow: 0px 2px 2px #212121;
    margin-bottom: 1em;
    font-weight: bold;
}

.owl-carousel .slideInfo p {
    color: #212121;
    font-size: 1.5em;
    margin-bottom: 1.5em;
}

.owl-carousel .slideInfo .slideJump {
    text-decoration: none;
    background-color: #494a49;
    padding: 12.5px;
    width: 10em;
    margin: auto;
    position: relative;
    top: 1.5em;
    color: white;
    font-weight: bold;
    box-shadow: 0px 3px 3px #212121;
    border-radius: 2px;
    font-size: 16px;
}

.owl-carousel .slideInfo a:hover {
    text-decoration: none;
}

div .owl-pagination {
    display: none;
}

.owl-item div {
    height: 60em !important;
}

#owl-example img {
    height: 47em;
    max-height: 50em;
    width: 100%;
    position: relative;
}

#owl-example .link-arrow, .link-arrow, #home-testimonials .link-arrow {
    width: 25px;
    height: 30px;
    padding-left: 10px;
}
/*Center Squares Area*/
.opaqueBox {
    height: 11em;
    position: relative;
    background-color: rgba(186, 185, 185, 0.42);
    width: 100%;
    top: -34.7em;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

#infoBlocks {
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: -50.3em;
    color: white;
    right: 2px;
    width: 75em;
    box-shadow: 0px 2px 2px #212121;
}

#infoBlocks .infoIcon {
    width: 70px;
    position: relative;
    padding: 10px;
    margin: auto;
    margin-bottom: -20px;
}

#infoBlocks #firstPair, #infoBlocks #secondPair, #infoBlocks #firstPair div, #infoBlocks #secondPair div {
    display: inline-block;
}

#infoBlocks #firstPair div, #infoBlocks #secondPair div {
    z-index: 5;
    width: 18.75em;
    border-right: 1.5px solid #212121;
    margin-right: -4px;
    background-image: url('blueprint.jpg');
    height: 21em;
}

#infoBlocks #secondPair #emergencyBlock {
    background-color: #FC030F;
    background-image: none;
    border-right: 0px;
}

#infoBlocks h4 {
    margin-bottom: 1.5em;
    margin-top: 2em;
    font-weight: bold;
}

#infoBlocks .infoText {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 2em;
}

#infoBlocks .infoJump, #infoBlocks #emergencyBlock #emergencyLink {
    background-color: #494a49;
    margin: auto;
    margin-top: 1.5em !important;
    padding: 10px;
    color: white;
    font-weight: bold;
    box-shadow: 0px 3px 3px #212121;
    border-radius: 2px;
    font-size: 16px;
}

#infoBlocks #emergencyBlock #emergencyLink {
    background-color: white;
    color: #1f3473;
}

#infoBlocks a:hover {
    text-decoration: none;
}

#center-header {
    width: 75em;
    margin: auto;
    margin-top: -48em;
}

#center-header h3 {
    font-weight: bold;
    font-size: 2.5em;
}

#center-container {
    width: 75em;
    margin: auto;
}

#paragraph-holder {
    text-align: left;
    font-size: 1.15em;
    width: 45em;
    float: left;
}

#left-column {
    float: left;
    margin-top: 1em;
    width: 20em;
    position: relative;
}

#right-column {
    float: right;
    width: 20em;
    margin-top: 1em;
    right: 3em;
    position: relative;
}

#home-testimonials {
    width: 26em;
    float: right;
    clear: both;
    position: relative;
    margin-top: -31em;
    left: 1em;
}

#home-testimonials #body-thumbnail {
    width: 25em;
    max-height: 13em;
    margin-bottom: 2.75em;
    border: 5px groove #dedede;
}

#home-testimonials p {
    width: 21.5em;
    font-size: 1.15em;
}

#home-testimonials p, #home-testimonials span {
    font-weight: bold;
}

#home-testimonials span {
    position: relative;
    top: 1.5em;
    padding: 13px;
    background-color: #1f3473;
    color: white;
    font-size: 1.2em;
}

footer {
    margin: auto;
    position: absolute;
    margin-top: 35em;
    text-align: left;
    width: 100%;
    background-color: #1f3473;
    color: white;
}

#footer-wrapper {
    width: 75em;
    margin: auto;
}

#footer-number {
    margin-top: 1em;
    font-size: 1.75em;
    font-weight: bold;
}

#left-footer-info {
    position: relative;
    float: left;
    width: 45em;
}

footer #footer-nav {
    margin-bottom: 1.5em;
    margin-top: 1.25em;
}

footer span {
    font-size: .9em;
    border-right: 1px solid white;
}

footer #footer-nav .non-home {
    padding-left: 1em;
}

footer span a {
    color: white;
    text-decoration: underline;
    padding-right: 1em;
}

footer span a:hover {
    color: white;
}

footer #footer-nav span:last-child {
    border-right: 0 !important;
}

footer #specialties-footer p {
    line-height: 1.5em;
    margin-bottom: 2.5em;
}

footer #copyright {
    margin-bottom: 1.5em;
}

footer #footer-logo {
    float: right;
    position: relative;
    top: 3em;
}

footer #footer-logo img {
    width: 27em;
    border-radius: 5px;
    position: relative;
}